.App {
  font-family: sans-serif;
  text-align: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(244, 186, 186) 0%,
    rgb(194, 157, 231) 90%
  );
  padding: 20px;
  margin: 0 400px;
  border-radius: 10px;
  height: 450px;
  box-shadow: rgb(37 39 89 / 60%) 0px 8px 8px 0;
  border-radius: 30px;
}

ul {
  list-style-type: none;
}
